<ion-view title="Job">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Members</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
                <button class="button button-balanced button-block  icon-left ion-plus">Add Member</button>
            </div>
        </div>
    </ion-content>
</ion-view>