<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Assistance" icon="ion-clipboard" href="#/tabs/assistance">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Members" icon="ion-ios-person" href="#/tabs/members">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Jobs" icon="ion-ios-book" href="#/tabs/jobs">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="More" icon="ion-more" href="#/tabs/more">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>